{% extends "main/base.html" %}
{% load static %}
{% load cache_bust %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}?{% cache_bust %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}?{% cache_bust %}">
{% endblock %}

{% block content %}
  <!-------------------------------------------------------------------------------------------------------------
  ------------------------------------------section.one---------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------->
<section class="one">
  <div>
    <h1>welcome to nfterritoriA</h1>
    <a href="#what">what is nfterritoria?</a>
    <div class="p"><p>The whole world is in your hands</p></div>
    <div class="flex" >
      <div><p>survive</p></div> 
      <div><p>build your own world</p></div>
      <div><p>earn</p></div>
    </div>
  </div> 
</section>
<!-------------------------------------------------------------------------------------------------------------
  ------------------------------------------section.two---------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------->

<section class="two">
  <div><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4UMCdy8PFAI" title="YouTube video player" frameborder="1"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</section>
<!-------------------------------------------------------------------------------------------------------------
  ------------------------------------------section.three---------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------->
<section class="three">
  <div class="container">
    <h1 id="what">What is NFTerritoria?</h1>
    <div class="lore"><img src="{% static 'main/img/blockchain.png' %}" alt="blockhain" align="right" >
      <p align="left">NFTerritoria is a NFT project that you can entrust your free time to. We combined NFT farm with the popular Minecraft game and it turned out perfectly!
        The advantage of our project is that the very next day you will receive your first profit in the form of NFT. The user will be able to control his daily Profit, and not just stake and wait for several months in anticipation of profit.
        <br><br>
        The game is already available today and everyone can try to participate in it!
        Get resources or take them away from others, build fortifications at mining points or break someone else's, we guarantee you will like it.
        <br><br>
        In the future, the project will develop depending on your suggestions, if we liked your suggestion, you will get a good bonus, join us it will be fun!
    </p>
    </div>
  </div>
  <span class="razd"></span>
</section>
<!-------------------------------------------------------------------------------------------------------------
  ------------------------------------------section.four---------------------------------------------------------------
  -------------------------------------------------------------------------------------------------------------->
<section class="four">
  <div class="flex">
    <div class="left_col show-on-scroll"><div class="left"><p>Get whitelist token, territory block, miners</p></div><div class="left two"><p>OWN your territory by “teritorry block”, build your base</p></div><div class="left three last"><p>withdraw your tokens and sell them or craft new Nft</p></div></div>
    <div class="right_col show-on-scroll"><div class="right oone"><p>transfer your NFT`s to game</p></div><div class="right two"><p>place your miners, Mine resources to keep your miners running</p></div></div>
  </div>
  <div class="href"><a href="/getting-started">more information</a></div>
</section>
{% endblock %}