{% extends "main/base.html" %}
{% load static %}
{% load cache_bust %}

{% block imports %}
  <link rel="stylesheet" href="{% static 'main/css/reset.css' %}?{% cache_bust %}">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}?{% cache_bust %}">
{% endblock %}

{% block content %}
  <section class="twelve">
      <p class="sale">Sales</p>
      <div class="fon">
        <p>The nearest sale is very soon!</p>     
      </div>
      <div class="flex white_list">
        <div class="box scale"><img src="../../static/main/img/very_nft_pic.png" class="scale" display="block"></div>
        <div class="bl"><div class="p"><p>Block name:</p><br><p>Witelist token</p></div><div class="p"><p>More informatiom:</p><br><p>wefwetgwe</p></div><div class="fon_too"><a href="">Sale of WAX</a></div></div>
      </div>
  </section>
{% endblock %}