{% extends "main/base.html" %}
{% load static %}
{% load cache_bust %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}?{% cache_bust %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}?{% cache_bust %}">
    <style>
      @font-face {
       font-family: 'Impact';
       src: url(../shrift/Impact.ttf) ;
       src: url(../shrift/Impact.eot);
       src: url(../shrift/Impact.eot?#iefix) format('embedded-opentype'),
       url(../shrift/Impact.woff2) format('woff2'),
       url(../shrift/Impact.woff) format('woff'),
       url(../shrift/Impact.svg#Impact) format('svg');
      }
      marquee{
       font-family: 'Impact';
       color: #fff;
      }
     </style>
{% endblock %}

{% block content %}
  <section class="twelve">
      <p class="sale">Sales</p>
      <div class="fon">
        <p>Whitelisted Token will soon be available for purchase!</p>     
      </div>
      <div class="flex white_list scale">
        <div class="box scale"><img src="../../static/main/img/whitelist_token.png" class="gif"></div>
          </style>
        <div class="bl"><div class="p"><p>Block name:</p><br><marquee direction="right" height="100" width="630" bg="none" style="font-size: 50px">Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token&emsp;Whitelist token</marquee></div><div class="p"><p>More informatiom:</p><br><p>Whitelist Token is an NFT that allows you to perform operations in our project and, most importantly, to log into the server.</p></div><div class="a"><a href="https://neftyblocks.com/c/nfterritoria/drops/77389">Hurry up for the upcoming sale!</a></div></div>
      </div>
  </section>
{% endblock %}